#tictactoe{
	display: none;
}
.game-wrapper {
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
}

#tictactoe-room-input > p {
	margin-top: 20px;
	margin-bottom: 15px;
}

#tictactoe-room-input .form-inline input[type="text"]{
	margin-right: 5px;
}

#room-list{
	cursor: pointer;
}

@media only screen and (max-width: 600px){
	#tictactoe-room-input{
		padding: 0 10px 10px;
	}
}